{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Inicio de Sesión{% endblock %}

{% block body %}

        <div class="registerForm">
            <fieldset>
                <h2 class="fs-title">Inicio de Sesión</h2>
                <form id="login-form" method="post">
                    <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <input placeholder="Contraseña" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>
                </form>
                <button form="login-form" class="btn btnPrimary" type="submit">INICIAR SESIÓN</button><br><br>
                <a href="{{ path('app_forgot_password_request') }}" class="forgot-password">¿Has olvidado la contraseña?</a><br><br>
                <span>¿No tienes cuenta? <a href="{{path('app_register')}}">¡Regístrate!</a></span>
            </fieldset>
        </div>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{% endblock %}
