{% extends 'home/components/layout.html.twig' %}

{% block title %} Project Kakarot - Registro{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert dangerAlert" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Registro</h1>

    <div class="registerForm">
        {{ form_start(registrationForm) }}
        <fieldset>
            <h2 class="fs-title">¡Crea tu Cuenta!</h2>
            {{ form_widget(registrationForm.username) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_widget(registrationForm.plainPassword )}}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btnRegister">REGISTRARSE</button>
        </fieldset>
        {{ form_end(registrationForm) }}
    </div>
    
{% endblock %}
