<div class="nav animate__animated animate__fadeInDown">
    <div class="logo">
        <img onclick="window.location.href='{{ path('app_home') }}'" src="/img/pklogo.svg">
    </div>
    <div class="navm">
        <ul class="nav__list">
            <li><a href="{{ path('app_manga') }}">Manga</a></li>
            <li><a href="{{ path('app_anime') }}">Anime</a>
                <ul>
                    <li><a href="{{ path('app_movies') }}">Peliculas</a></li>
                    <li><a href="{{ path('app_specials') }}">Especiales/OVAs</a></li>
                </ul>
            </li>
            <li><a href="{{ path('app_sagas') }}">Sagas</a>
                <ul><li><a href="{{ path('app_battles') }}">Batallas</a></li></ul>
            </li>
            <li><a href="{{ path('app_razas') }}">Razas</a>
                <ul><li><a href="{{ path('app_characters') }}">Personajes</a></li> </ul>
            </li>
        </ul>
    </div>
    <div class="avatar">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="navm">
                <ul class="nav__list">
                    <li>
                        {% if app.user.avatar %}
                            <img src="/img/avatars/{{ app.user.avatar }}" class="avatarimg">
                        {% else %}
                            <img src="/img/default-avatar.svg" class="avatarimg svgAvatar">
                        {% endif %}
                        <ul>
                            <li><a href="{{ path('app_account') }}">Mi Cuenta</a></li>
                            <li><a href="{{ path('app_home') }}">Recompensas</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin') }}">Panel de Administración</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}">Iniciar Sesión</a>
            <a href="{{ path('app_register') }}">Registrarse</a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="Btn btnSecondary" href="{{ path('app_logout') }}">CERRAR SESIÓN</a>
        {% endif %}
    </div>
</div>