<div class="nav">
    <div class="logo">
        <img onclick="window.location.href='{{ path('app_home') }}'" src="/img/pklogo.svg">
    </div>
    <div class="navm">
        <ul class="nav__list">
            <li><a href="{{ path('app_manga') }}">Manga</a></li>
            <li><a href="#">Anime</a>
                <ul>
                    <li><a href="{{ path('app_movies') }}">Peliculas</a></li>
                    <li><a href="{{ path('app_specials') }}">Especiales/OVAs</a></li>
                </ul>
            </li>
            <li><a href="#">Sagas</a>
                <ul><li><a href="{{ path('app_battles') }}">Batallas</a></li></ul>
            </li>
            <li><a href="#">Razas</a>
                <ul><li><a href="{{ path('app_characters') }}">Personajes</a></li> </ul>
            </li>
        </ul>
    </div>
    <div class="avatar">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_account') }}">Mi Cuenta</a>
        {% else %}
            <a href="{{ path('app_login') }}">Iniciar Sesión</a>
            <a href="{{ path('app_register') }}">Registrarse</a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_logout') }}">Desconectarse</a>
        {% endif %}
    </div>
</div>